/*-----------------------------------------Style Body section--------------------------------------------*/

.document{
    padding: 0 188px;
    margin-top: 40px;
}

.document-container{
    display: grid;
    grid-gap: 20px;
}

.document-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.document-box img{
    width: 100%;
    max-width: 414px;
}

.document-box .content{
    display: block;
}

.document-box .content h3{
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    color: #6B3CC9;
    padding-bottom: 20px;
}

.document-box .content p{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
}

.document-box .content button{
    color: #ffffff;
    background-color: #F28D35;
    border-radius: 4px;
    width: 129px;
    padding: 12px 20px;
    border: none;
}
/*-----------------------------------------End Style Body section--------------------------------------------*/

/*-----------------------------------------Responsive media--------------------------------------------*/

@media (max-width: 1200px){
    html{
        font-size: 50%;
    }

    .document{
        padding: 0 140px;
    }

    .document-box .content h3{
        font-size: 20px;
    }
}

@media all and (max-width: 1080px){
    .document{
        padding: 0 100px;
    }
    .document-box img{
        width: 275px;
    }
    .document-box .content h3{
        font-size: 22px;
    }

    .document-box .content p{
        font-size: 14px;
    }

}

@media all and (max-width: 768px){
    .document{
        padding: 0 40px;
    }

    .document-box{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }

    .search{
        flex-direction: column-reverse;
    }

    .document-box .content{
        text-align: center;
    }

}


@media (max-width: 375px){

    .document{
        padding: 0 20px;
    }

    .document-container{
        align-items: center;
        justify-content: center;
        justify-items: center;
    }


    .document-box img{
        width: 275px;
    }

    .document-box .content h3{
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    
    .document-box .content p{
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    
    .document-box .content button{
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    
}