@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html{
    font-family: "Poppins", sans-serif;
    font-size: 10px;
}

body, html{
   height: 100%;
}

/*-----------------------------------------Style Header section--------------------------------------------*/
.nav-bar {
	background: #6b3cc9;
	display: flex;
	padding: 10px 30px;
	align-items: center;
	justify-content: space-between;
	height: 77px;
}

.nav-bar .logo {
	width: 240px;
}

.nav-bar .navigation ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 20px;
}

.nav-bar .navigation .close-icon {
	display: none;
}

.nav-bar .navigation ul li:first-child {
	display: none;
}

.nav-bar .navigation ul li a {
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.nav-bar .menu {
	width: 31px;
	display: none;
	cursor: pointer;
}
/*-----------------------------------------End Style Header section--------------------------------------------*/

/*-----------------------------------------Style Home section--------------------------------------------*/
.background{
    background-image: url(./Img/background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative; 
    z-index: -1;
}

.container{
    max-width: 560px;
    height: 270px;
    top: 355px;
    position: absolute;
    gap: 8px;
    background: linear-gradient(to right, #4DCA79, #1CBDDD);
    align-items: center;
    margin-left: 80px;
    line-height: 48px;
    padding: 24px 40px 32px 40px;
    z-index: 1;
}

.container p{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
}

.container button{
    background-color: #F28D35;
    border: none;
    padding: 12px 20px 12px 20px;
    color:#ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    border-radius: 4px;
}

/*-----------------------------------------End Style Home section--------------------------------------------*/

/*-----------------------------------------Style Body section--------------------------------------------*/

.document{
    padding: 0 188px;
    margin-top: 40px;
}

.document-container{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.document-box{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.document-box img{
    width: 414px;
}

.document-box .content{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.document-box .content h3{
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    color: #6B3CC9;
}

.document-box .content p{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}

.document-box .content button{
    color: #ffffff;
    background-color: #F28D35;
    border-radius: 4px;
    width: 129px;
    padding: 12px 20px 12px 20px;
    border: none;
}
/*-----------------------------------------End Style Body section--------------------------------------------*/

/*-----------------------------------------Style FAQ section--------------------------------------------*/

.faq{
    display: flex;
    padding-top: 40px;
    align-items: center;
    padding-left: 297px;
    padding-right: 297px;
}

.faq-container{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}

.faq-container h3{
    align-items: center;
    justify-content: center;
    color: #6B3CC9;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 28px;
}

.faq-content{
    align-items: center;
    background-color: #FAF8FF;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
    border-radius: 7px;
    padding: 24px;
    margin-top: 15px;
}

.content-box1, .content-box2, .content-box3{
    display: flex;
    justify-content: space-between;
}

.faq-content h4{
    display: block;
    font-size: 18px;
    font-weight: 500;
}

.faq-content p{
    position: relative;
    
    font-weight: 400;
    font-size: 14px;
    color: #6F6C90;
}

.content-box1 h4{
    color: #6B3CC9;
} 

/*-----------------------------------------End Style FAQ section--------------------------------------------*/

/*-----------------------------------------Style Footer section--------------------------------------------*/

footer{
    background-color: #6B3CC9;
    margin-top: 60px;
    padding: 40px 80px 20px 80px;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    gap: 20px;
}

.logo-line{
    width: 413px;
    margin-right: 130px;
}

.logo-line p{
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.technologies{
    line-height: 25px;
    width: 197px;
}

.technologies h3{
    font-size: 21px;
    font-weight: 600;
    padding-bottom: .5rem;
}

.technologies p{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: .5rem;
}

.services{
    width: 197px;
}

.services h3{
    font-size: 21px;
    font-weight: 600;
    padding-bottom: .5rem;
}

.services p{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 1rem;
}

.footer-bar{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

hr{
    width: 50%; 
}

.footer-bar .content{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
}
/*-----------------------------------------End Style Footer section--------------------------------------------*/

/*-----------------------------------------Responsive media--------------------------------------------*/

@media (max-width: 1200px){
    html{
        font-size: 50%;
    }

    .navlist li{
        margin: 0 20px;
        font-size: 12px;
    }

    .home{
        font-size: 40px;
    }

    .container{
        width: 50%;
    }

    .document{
        padding: 0 140px;
    }

    .document-box .content h3{
        font-size: 20px;
    }
}

@media all and (max-width: 768px){
    .nav-bar .menu {
		display: inline;
	}

	.nav-bar .navigation.hidden {
		display: none;
	}

	.nav-bar .navigation {
		position: fixed;
		z-index: 2;
		background: white;
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		padding: 20px;
	}

	.nav-bar .navigation ul {
		flex-direction: column;
		gap: 30px;
	}

	.nav-bar .navigation .close-icon {
		display: initial;
		font-weight: bold;
		cursor: pointer;
		position: fixed;
		right: 20px;
		top: 10px;
		font-size: 30px;
	}

	.nav-bar .navigation ul li:first-child {
		display: initial;
	}

	.nav-bar .navigation ul li a {
		color: black;
	}
    
    .container{
        width: 100%;
        height: 100%;
        top: 55vh;
        position: relative;
        gap: 8px;
        line-height: 48px;
        padding: 24px 40px 32px 40px;
    }
    
    .container p{
        color: #ffffff;
        font-size: 48px;
        font-weight: 600;
        z-index: 1;
    }
    
    .container button{
        background-color: #F28D35;
        border: none;
        padding: 12px 20px 12px 20px;
        color:#ffffff;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        border-radius: 4px;
    }
    
    .document{
        padding: 0 40px;
    }

    .document-box img{
        width: 275px;
    }
    
    .document-box .content h3{
        font-size: 22px;
    }

    .document-box .content p{
        font-size: 12px;
    }

    .faq{
        align-items: center;
        padding-left: 42px;
        padding-right: 42px;
    }
    
    .footer-box{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    }
    .box{
        margin-top: 80px;
        gap: 6rem;
        justify-content: left;
    }

    .services{
        width: 230px;
    }

    hr{
        width: 90%; 
    }
}

@media (max-width: 375px){
    .document{
        padding: 0 20px;
    }

    .document-container{
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .document-box{
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
        align-items: center;
        justify-content: center;
        justify-items: center;
    }


    footer{
        padding: 40px 20px 20px 20px;
    }

    .logo-line p{
        font-size: 16px;
        font-weight: 400;
    }
    
    .footer-box{
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    }
}